version: '3.8'
services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    container_name: metatrade_bot
    environment:
      - PORT=8000
    ports:
      - "8000:8000"
    restart: unless-stopped

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: metatrade_ui
    environment:
      - STREAMLIT_SERVER_PORT=8501
    ports:
      - "8501:8501"
    restart: unless-stopped
